@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slide {
  width: 100%;
  height: 50vh;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide Image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

tr:nth-child(even) {
  background-color: #fde9cc;
}
